body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

header {
    background: black;
    margin-top: -22px;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.head h2 {
    color: white;
    text-align: center;
    padding-top: 5px;

}

h1 {
    font-family: 'Abril Fatface', cursive;
}

h2 {
    font-family: 'Abril Fatface', cursive;
}

.h-w h1 {
    font-size: 41px;
    font-weight: 700
}

.flexible-con {
    display: flex;
}

p {
    text-align: left;
}

.h-w {
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

.h-w img {
    width: 90%;
}

.button-1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
}

.button-2 {
    text-decoration: none;
    background-image: linear-gradient(rgb(254, 255, 252), rgb(0, 2, 11));
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    color: white;
}

.orange {
    color: orangered;
    font-size: 78px
}

.sec-2 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.t-area {
    margin-top: 100px;
}

.sec-1 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.sec-2 img {
    width: 70%;
    height: 92%;

}

.recipies {
    text-align: center;
}

.recipies p {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}

.sec-3 {
    margin-top: 30px;
}

.box1 {
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    margin-left: 5%;
    margin-right: 0.5%;
    border-radius: 25px;
}

.box2 {
    box-shadow: 10px 10px 40px black;

    padding: 20px;
    margin-left: 0.5%;
    margin-right: 5%;
    border-radius: 25px;
}

.box1 img {
    width: 100%;
}

.box2 img {
    width: 100%;
}

.sec-4 {
    box-shadow: 3px 5px 10px gray;
    padding: 15px;
    margin: 5% 15% 5% 15%;
    border-radius: 5px;
}

.area-1 {
    padding-left: 40px;
    margin: 30px 15px 30px 30px;
    width: 33.3%;
    text-align: left;
}

.area-2 {
    margin: 30px 15px 30px 15px;
    width: 33.3%;
    text-align: left;

}

.area-3 {
    margin: 30px 30px 30px 15px;
    width: 33.3%;
    text-align: left;
}

.sec-4 h2 {
    font-weight: bolder
}

footer {
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}

footer p {
    text-align: center;

}